<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<h1>Hello</h1>
	<form method="post" action='/ttt/'>{% csrf_token %}
		<label><b>Enter Your Account Name Please:</b></label>
		<br/>
		<input type="text" name="username" value=""/>
		<br/>
		<label><b>Enter Your Password:</b></label>
		<br/>
		<input type="password" name="password" value=""/>
		<br/>
		<button type="submit">Enter</button>
	</form>
</body>
</html>
